.timeline-container {
  margin-left: -15px;             
  margin-top: -60px;             
  padding: 30px 40px;
  height: auto;
  max-width: 900px;
}


.timeline-header {
  display: flex;

  gap: 16rem;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 2px solid #D8D8D8;
}


.timeline-header h1 {
  font-size: 1.25rem;
  font-family: "Sans Serif Collection", sans-serif;
  font-weight: 400;
  color: #544629;
}


.timeline-header button {
    height: 30px;
  position: relative;
  padding: 10px 22px;
  font-size: 16px;
  font-weight: 400;
  border: 2px solid #EAD373;
  border-radius: 30%;
  background-color: transparent;
  background-image: url("/nav-gradient.jpg"); 
  background-size: cover;
  background-position: center;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1;
  overflow: hidden;
}

.timeline-header button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 2px;
  background-image: url("/nav-gradient.jpg");
  background-size: cover;
  background-position: center;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}

.timeline-header button:hover {
  opacity: 1.25;
    transform: scale(1.03); 
}


