.tabs-container {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
  padding-left: 100px;
  background-color: #fff9f0; 
}

.tab-button {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: #0004ff;
  cursor: pointer;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.tab-button:hover {
  color: #02f723;
  border-bottom: 2px solid #02f723;
}

.tab-button.active-tab {
  color: #02f723 !important;
  border-bottom: 2px solid #02f723 !important;
  font-weight: 600;
}
