* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

  /* ✅ These are must for scroll to work properly */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent body scroll */
}

.page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
